@page
@model Pesach_Project.Pages.LeagueTableModel
@using System.Data
@{
	ViewData["Title"] = "LeagueTable";
}
<h1 class="display-5 mb-4">📊 Table</h1>

<table class="table lm-table">
	<thead>
		<tr>
			<th>Rank</th>
			@foreach (DataColumn column in Model.dt.Columns)
			{
				<th>@column.ColumnName</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (DataRow row in Model.dt.Rows)
		{
			<tr>
				<td class="fw-bold">@Model.rank</td>
				@foreach (DataColumn column in Model.dt.Columns)
				{
					<td class="fw-bold">@row[column]</td>
				}
				@{
					Model.rank++;
				}
			</tr>
		}
	</tbody>
</table>
<a asp-page="/ManageLeagues" class="fw-bold text-decoration-none">Back to ManageLeague</a>