@page
@model Pesach_Project.Pages.ManagePlayersModel
@using System.Data
@{
    ViewData["Title"] = "ManagePlayers";
}
<h2>👥 Players</h2>

<form method="post" asp-page-handler="Add"  class="mb-3">
    <input type="hidden" asp-for="LeagueId" />

    <input asp-for="NewPlayer.PlayerName"
           class="form-control mb-2"
           placeholder="Enter player name" />

    <button type="submit" class="btn btn-primary">
        Add Player
    </button>
</form>
<div class="text-danger small mb-2">@Model.msg</div>

<table class="table text-center align-middle">
	<thead class="table-dark">
		<tr>
			<th>Player Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (DataRow row in Model.dt.Rows)
		{
			<tr>
				<td class="fw-bold">@row["PlayerName"]</td>
				<td>
					<form method="post" asp-page-handler="ChangeName" class="d-inline">
						<input type="hidden" name="PlayerId" value="@row["Id"]" />
						<input type="hidden" name="NewName" />

						<button type="submit"
								onclick="return askName(this)"
								class="btn btn-warning btn-sm">
							Change Name
						</button>
					</form>

					<form method="post" asp-page-handler="Delete" class="d-inline">
						<input type="hidden" name="PlayerId" value="@row["Id"]" />

						<button type="submit" class="btn btn-danger btn-sm">
							Delete
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-page="/ManageLeagues" class="fw-bold text-decoration-none">Back to ManageLeague</a>

<script>
	function askName(button) {
		let newName = prompt("Enter the new player name:");

		if (newName == null) {
			return false; 
		}

		newName = newName.trim();

		if (newName === "") {
			alert("Name cannot be empty.");
			return false;
		}

		let form = button.closest("form");

		form.querySelector('input[name="NewName"]').value = newName;

	}
</script>